<div class="header container-fluid">
    <div class="row">
        <div class="navbar col-md-2 h1">
            <a href="/">
                <img class="img-responsive" alt="Foodwise" src="http://i.imgur.com/RQBp0J0.png">
            </a>
        </div>
        {{#if user}}
            <div class="navbar col-md-1 h5">
                <a href="/searchRecipes">
                    <div class="navbar_item_icon">
                        <i class="material-icons">search</i>
                    </div>
                    <div class="navbar_item_text">
                        Search Recipe
                    </div>
                </a>
            </div>
            <div class="navbar col-md-1 h5">
                <a href="/viewSales">
                    <div class="navbar_item_icon">
                        <i class="material-icons">shopping_cart</i>
                    </div>
                    <div class="navbar_item_text">
                        View Sales
                    </div>
                </a>
            </div>
            <div class="navbar col-md-1 h5">
                <a href="/homeIngredients">
                    <div class="navbar_item_icon">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="navbar_item_text">
                        Home Ingredients
                    </div>
                </a>
            </div>
            <div class="navbar col-md-1 h5">
                <a href="/setPreferences">
                    <div class="navbar_item_icon">
                        <i class="material-icons">settings</i>
                    </div>
                    <div class="navbar_item_text">
                        Set Preferences
                    </div>
                </a>
            </div>
            <div class="navbar col-md-1 h5">
                <a href="/logout">
                    <div>
                        <i class="material-icons">person</i>
                    </div>
                    <div class="navbar_item_text">
                        Log out
                    </div>
                </a>
            </div>
        {{else}}
            <div class="navbar col-md-1 h5">
                <a href="/login">
                    <div>
                        <i class="material-icons">person</i>
                    </div>
                    <div class="navbar_item_text">
                        Log in
                    </div>
                </a>
            </div>
        {{/if}}
    </div>
</div>