<div class="body-container">
    <div class="body-content-container">
        <p>Enter the available ingredients:</p>
		<p><b>NOTE: </b>Please enter the ingredients separated by commas. Do not enter quantities.</p>
		<p><b>Example: </b>carrots, onions, bread</p>
		<form id="homeIngredientsForm">
            <label for="homeIng">Ingredients: </label>
            <input type="text" name="homeIng" id="homeIng" size="60">
            <input id="submit_button" type="submit">
        </form>
		
    </div>
</div>
<script src="/javascripts/homeIngredientsScript.js"></script>