<div class="body-container">
    <div class="body-content-container" style="text-align:center;padding:50px">
        <div class="row">
            <img class="img-responsive" alt="Foodwise" src="https://lh5.googleusercontent.com/FmYhyEjmod3XchgERS9gdzpTOPGEbeJF5lEMdMAvZWYf9lfoPCRwEOWNsHFw54dst06HLf246IHVXFM=w1366-h604">
            <!--<img src="../images/logo_black_cherry.png" class="img-responsive" alt="Foodwise">-->
        </div>
        <div class="row" style="padding:50px">
            <h1>Welcome to Foodwise!</h1>
            <h4 style="color:green">The smart recipe search engine</h4>
        </div>
        <div class="row">
            <a class="btn btn-primary btn-lg btn-block" href="/searchRecipes">Click here to search for a recipe</a>
        </div>
    </div>
</div>