<h1>Log in, nerd</h1>
<form id="login">
    <label for="userName">username</label>
    <input type="text" name="userName">
    <label for="password">password</label>
    <input type="text" name="password">
</form>
<button id="loginButton">Login</button>
<button id="newUser">New user</button>
<script src="/javascripts/loginScript.js"></script>