<div class="body-container">
    <div class="body-content-container">
        <form id="searchForm">
            <h4>Recipe Search:</h4>
            <div class="row form-group">
                <div class="col-md-8">
                    <input type="text" name="search" class="form-control" placeholder="Enter recipe keywords here..." id="search">
                </div>
                <input type="submit" class="btn btn-default" id="submit_button">
            </div>
        <div class="row form-group">
            <div class="col-md-5">
                <input id="useUserPref" name="usePref" type="radio" value="userPref" checked="checked"> Use my saved preferences
            </div>
            <div class="col-md-5">
                <input id="useNewPref" name="usePref" type="radio" value="useNewPref"> Set new preferences for this search
            </div>
        </div>
        <div id="setNewPref" style="display:none">
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="allergies">Select your allergies:</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" name="allergies" value="Peanut-Free"> Peanuts
                    <br><input type="checkbox" name="allergies" value="Seafood-Free"> Seafood
                    <br><input type="checkbox" name="allergies" value="Sesame-Free"> Sesame
                </div>
                <div class="col-md-3">
                    <input type="checkbox" name="allergies" value="Soy-Free"> Soy
                    <br><input type="checkbox" name="allergies" value="Dairy-Free"> Dairy
                    <br><input type="checkbox" name="allergies" value="Egg-Free"> Egg
                </div>
                <div class="col-md-3">
                    <input type="checkbox" name="allergies" value="Sulfite-Free"> Sulfite
                    <br><input type="checkbox" name="allergies" value="Tree Nut-Free"> Tree Nuts
                    <br><input type="checkbox" name="allergies" value="Wheat-Free"> Wheat
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="vegOption">Vegetarian option?</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" name="vegOption" value="Non-Vegetarian" checked="checked"> None (Meat-eater)
                </div>
                <div class="col-md-3">
                    <input type="radio" name="vegOption" value="Vegetarian"> Vegetarian
                </div>
                <div class="col-md-3">
                    <input type="radio" name="vegOption" value="Vegan"> Vegan
                </div>
            </div>
            <h4>Food Preferences (if no answer, leave blank):</h4>
            <div class="row form-group">
                <div class="col-md-10">
                    <label for="dislikes">Which foods do you dislike/avoid?</label>
                    <input type="text" name="dislikes" class="form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-10">
                    <label for="likes">Which foods do you love?</label>
                    <input type="text" name="likes" class="form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-10">
                    <label for="nutritionPref">Any nutrition preferences?</label>
                    <input type="text" name="nutritionPref" class="form-control">
                </div>
            </div>
            <h4>How do you like your food?</h4>
            <div class="row">
                <div class="col-md-2">
                    <label for="salty">Salty</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" name="salty" value="Default" checked="checked"> No Preference
                </div>
                <div class="col-md-2">
                    <input type="radio" name="salty" value="Low"> Low
                </div>
                <div class="col-md-2">
                    <input type="radio" name="salty" value="Medium"> Medium
                </div>
                <div class="col-md-2">
                    <input type="radio" name="salty" value="High"> High
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="sweet">Sweet</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" name="sweet" value="Default" checked="checked"> No Preference
                </div>
                <div class="col-md-2">
                    <input type="radio" name="sweet" value="Low"> Low
                </div>
                <div class="col-md-2">
                    <input type="radio" name="sweet" value="Medium"> Medium
                </div>
                <div class="col-md-2">
                    <input type="radio" name="sweet" value="High"> High
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="bitter">Bitter</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" name="bitter" value="Default" checked="checked"> No Preference
                </div>
                <div class="col-md-2">
                    <input type="radio" name="bitter" value="Low"> Low
                </div>
                <div class="col-md-2">
                    <input type="radio" name="bitter" value="Medium"> Medium
                </div>
                <div class="col-md-2">
                    <input type="radio" name="bitter" value="High"> High
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="savoury">Savoury</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" name="savoury" value="Default" checked="checked"> No Preference
                </div>
                <div class="col-md-2">
                    <input type="radio" name="savoury" value="Low"> Low
                </div>
                <div class="col-md-2">
                    <input type="radio" name="savoury" value="Medium"> Medium
                </div>
                <div class="col-md-2">
                    <input type="radio" name="savoury" value="High"> High
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="spicy">Spicy</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" name="spicy" value="Default" checked="checked"> No Preference
                </div>
                <div class="col-md-2">
                    <input type="radio" name="spicy" value="Low"> Low
                </div>
                <div class="col-md-2">
                    <input type="radio" name="spicy" value="Medium"> Medium
                </div>
                <div class="col-md-2">
                    <input type="radio" name="spicy" value="High"> High
                </div>
            </div>
        </div>
        </form>
        <h4 id="searchResultsLabel" style="display:none">Search Results:</h4>
        <div class="row form-group">
            <div class="col-md-2">
                <button id="prev_page_button" class="btn btn-default btn-xs" style="display:none">Previous Page</button>
            </div>
            <div class="col-md-2">
                <button id="next_page_button" class="btn btn-default btn-xs" style="display:none">Next Page</button>
            </div>
        </div>
        <div id="searchResults">

        </div>
    </div>
</div>
<script src="/javascripts/searchRecipesScript.js"></script>
